<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shane O'Neill</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% block head %}{% endblock %}
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{  url_for('static', filename= 'css/bootstrap.min.css') }}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{  url_for('static', filename= 'css/style.css') }}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{  url_for('static', filename= 'css/responsive.css') }}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{  url_for('static', filename= 'css/custom.css') }}">
    <!-- ALL JS FILES -->
    <script src="/static/js/all.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-159448462-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-159448462-2');
    </script>


</head>

<body id="page-top" class="politics_version">

    {% block body %} {% endblock %}
</body>

</html>