<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> 
<![endif]-->
<!--[if IE 7]> <html class="no-js lt-ie9 lt-ie8" lang="en"> 
<![endif]-->
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
	<head>

		<title>Tours Ireland</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <link rel="icon" href="static\images\icon.jpg">

        <link rel="stylesheet" type="text/css" href="static/css/TI/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/TI/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/TI/templatemo-style.css">
        

        <!-- JavaScripts -->
        <script src="static/js/TI/vendor/jquery-1.10.2.min.js"></script>
        <script src="static/js/TI/vendor/modernizr.min.js"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-159448462-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-159448462-1');
		</script>

		

	</head>
	<body>
    
    <header class="site-header" id="top">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                          <i class="fa fa-bars"></i>
                        </button>
                        <div class="logo-wrapper">
                            <a class="navbar-brand" href="#top">
                                <p>T<em>ours Ireland</em></p>
                            </a>
                        </div>  
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><span></span><a href="#top" class="home">Home</a></li>
                            <li><span></span><a href="#first-section" class="about">Contact</a></li>
                            <li><span></span><a href="#Tours" class="map">Tours</a></li>
                            <li><span></span><a href="#third-section" class="contact">About</a></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </nav>
    </header>

    <div id="big-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <ul class="main-icons">
                            <li><a href="#"><i><img class="banner-img" src="static/images/harp.jpg"></i><p class="outline">Private Tours To Anywhere In Ireland</p></a></li>
                         </ul>
                    </div>
                </div>
            </div>               
        </div>

    
   

    <div id="second-section">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <h2>Travel to Many Beautiful Attractions</h2>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
    <div id="second-section2">
        <div class="container">
            <div class="row">
                <div class="triangle"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section id="cd-timeline-2" class="cd-container">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="static/images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="static/images/Bunratty.jpg" alt="">
                                <div class="project-content">
                                    <h2>Bunratty Castle & Folk Park</h2>
                                    <span>Co. Clare</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="static/images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="static/images/Titanic.jpg" alt="">
                                <div class="project-content">
                                    <h2>Titanic Experience</h2>
                                    <span>Belfast</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="static/images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="static/images/Glendalough.jpg" alt="">
                                <div class="project-content">
                                    <h2>Glendalough</h2>
                                    <span>Co. Wicklow</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="static/images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="static/images/Howth.jpg" alt="">
                                <div class="project-content">
                                    <h2>Howth</h2>
                                    <span>Co. Dublin</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="static/images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="static/images/ROK.jpg" alt="">
                                <div class="project-content">
                                    <h2>Ring Of Kerry</h2>
                                    <span>Co. Kerry</span>
                                </div>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="static/images/camera-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content projects">
                                <img src="static/images/Blarney.jpg" alt="">
                                <div class="project-content">
                                    <h2>Blarney Castle</h2>
                                    <span>Co. Cork</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    

    <div id="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="outline">Discover</h4>
                    <p class="outline">What Ireland has to offer</p>
                </div>   
            </div>
        </div>
    </div>

    <div id="first-section">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <h2 class="header-section-title">How to Get in touch</h2>
                    </div> 
                </div>
            </div>
        </div>
    </div>

    <div id="first-section1">
        <div class="container">
            <div class="row">
                <div class="triangle"></div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <section id="cd-timeline" class="cd-container">
                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-picture">
                                <img src="static/images/envelope.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content service-box-content">
                                <h2>Send an Email</h2>
                                <p>Send an email to <a href="mailto:​johnoneill1960@gmail.com">​johnoneill1960@gmail.com</a> and check availablility.</p>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-movie">
                                <img src="static/images/first-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content service-box-content">
                                <h2>Discuss A Tour</h2>
                                <ul>
                                    <li><p>City Tours</p></li>
                                    <li><p>Mini Tours</p></li>
                                    <li><p>Full Day Tours</p></li>
                                    <li><p>Multi-day and extended tours</p></li>
                                    <li><p>Hotel Pickup, Airport and cruise liner transfers</p></li>
                                    <a href="#Tours">View Sample Tours</a>
                                </ul>
                            </div>
                        </div>

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-icon">
                                <img src="static/images/fourth-icon.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content service-box-content">
                                <h2>Finalise Tour</h2>
                                <p>Plan your own trip or choose from our <a href="#Tours">sample tours</a>. Stop where and when you want not where the timetable says. Get a personalised experience.</p>
                            </div>
                        </div> 

                        <div class="cd-timeline-block">
                            <div class="cd-timeline-img cd-location">
                                <img src="static/images/plane.png" alt="Picture">
                            </div>

                            <div class="cd-timeline-content service-box-content">
                                <h2>Enjoy!</h2>
                                <p>Travel Ireland and see the beauty that it has to offer.</p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <div id="Tours">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <h2>Sample Trips</h2>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div id="map">
        
        
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h4>Mini Tour</h4>
                <strong>Howth and Malahide castle - 4 hrs approx</strong>
                <li>Take the coast road to a small fishing village on the northeast coast of Dublin, enjoying the views along the way.</li>

                  <li>Continuing along the coast to Howth Head where you will see across Dublin bay and the Wicklow mountains (weather permitting) in the distance.  At the bottom of the cliffs is the Baily lighthouse.</li>

                  <li>From Howth Head we go down to Howth village stopping at the ruins of an old church. The first church built here was in the year 1042. Later in the 15th and 16th centuries changes were made to the structure. The present structure dates back to the 14th century.</li>
                  
                  <li>In Howth village there are shops, ice cream parlours, coffee shops, restaurants and of course bars. </li>

                  <li>Taking the west pier past the fishing trawlers, fish shops and restaurants to see Irelands eye and if the trawlers are in and with a little luck we may see the seals.</li>

                  <li> We leave Howth and head for Malahide where if you wish you can call into Gibneys 
                    pub for lunch. There are many shops and restaurants in the village.</li> 

                  <li>After lunch we go to Malahide and visit a 12th century castle. You can tour the castle 
                    if you wish, tickets are available at the information desk. Tour takes 45 min approximately,but it is not included in the 4 hour schedule.</li>

                  <li> After the castle we head back to Dublin</li></p>

            </div>
                       
              
                                      
    </div>
    

    
    
    <div id="third-section3">
        <div class="container">
            <div class="row">
                <div class="triangle"></div>
            </div>
            <div class="row">
                
               
                    
                    <div class="col-lg-6 contact-discription">
                        <h4>Day Tour</h4>
                        <strong>Bunratty castle - Cliffs of Moher - Doolin,Gus O'Connor pub - The Burren - Galway.</strong><br><br>
                           				
                                    				
                                    <li>Depart Dublin	07:00	Arrive Bunratty castle 		09:30	2hrs at destination </li> 
                                    <li>Depart Bunratty castle 	11:30	Arrive Cliffs of Moher 		12:30	2hrs at destination </li>
                                    <li>Leaving the cliffs of Moher we travel along the wild Atlantic way to Galway.</li>
                                    <li>Depart Cliffs of Moher 	14:30	Arrive Doolin Gus O'Connors pub 		14:40	1hr at destination </li>
                                    <li>Depart  Doolin 	15:00	Drive through the Burren Arrive Galway		17:30	1hr at destination </li>
                                    <li>Depart Galway	18:30	Arrive Dublin		21:00	</li>
                                                    
                    </div> 
                    
                    <div class="col-lg-6 contact-discription">
                            <h4>Dublin Tour</h4>
                            <strong>Dublin City Tour</strong>
                                <li>Dublin castle. The seat of  English and British power from 1204 to 1922.</li>
                                <li>Phoenix park. The largest inclosed city park in Europe.</li>
                                <li>Jeanie Johnson. Replica of the type of ship that brought people to the new world during the famine of 1845. Also known as coffin ships.</li>
                                <li>Trinity college. One of the oldest universities in the world.</li>
                                <li>General Post Office. The headquarters of the rising against the British in 1916.</li>
                                <li>Kilmainham gaol. Where the freedom fighters were brought after the rising of 1916.</li>
                                <li>Guinness storehouse.</li>
                                <li>And much more</li>

                                
                    </div>   
                    <div class="col-lg-12"><p><br>All times are approximate & All major credit and debit cards are accepted.</p></div>                                  
            </div>
            </div>
        </div>

            <div class="container">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4">
                                <div class="copyright-text">
                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="back-to-top">
                                    <a href="#top">Back To Top</a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="social-icons">
                                    
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
            
   

    <div id="third-section">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                            <h2>Send Us A Message</h2>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    
    <div id="third-section3">
        <div class="container">
            <div class="row">
                <div class="triangle"></div>
            </div>
            <div class="row">
                
               
                    <div class="contact-discription">
                        <h4>More About Us!</h4>
                        <p>We are a group of taxi drivers based in Dublin between us  we have many years experience in the taxi and touring industry. <br>
                        Our vehicles can accommodate 4 to 16 people and some are wheelchair accessible. 
                        Contact John O'Neill for details at the number or email below.
                        I hope to see you in Ireland and help you enjoy our beautiful country.
                            
                        <br><br>
                        Tel: <a href="tel:+353833076987">+353 83 307 6987</a> Available on WhatsApp <br>
						Email: <a href="mailto:​johnoneill1960@gmail.com">​johnoneill1960@gmail.com</a>
                        <br><br>
                        All times are approximate & All major credit and debit cards are accepted. Please direct any queries to the above email address.
                        </p>
                    </div>
                
            </div>
        </div>
    </div>
    <div class="container">
        
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="footer-img">
                            <img src="static/images/Car3.jpg" alt="Image" height="100%" width="100%">
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <img src="static/images/Car2.jpg" alt="Image" height="100%" width="100%">
                            
                        
                    </div>
                    <div class="col-md-4">
                        
                        <img src="static/images/Car1.jpg" alt="Image" height="10%" width="100%">
                    
                    </div>
                </div>    
            </div>
        
    </div>

    
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="copyright-text">
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="back-to-top">
                                <a href="#top">Back To Top</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="social-icons">
                                <ul>
                                    <li><p style="color:aliceblue">Website by Shane O'Neill  </p></li>
                                    <li></li>
                                    <li><a href="https://www.linkedin.com/in/shane-o-neill-77225712a/" class="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
    </footer>

    
		<!-- Javascripts -->
        <script>
              $('.navbar-collapse ul li a').click(function(){ 
$('.navbar-toggle:visible').click();
});
</script>
		<script type="text/javascript" src="static/js/TI/vendor/bootstrap.min.js"></script>
		<script type="text/javascript" src="static/js/TI/custom.js"></script>

	</body>
</html>
<!--

    All images used are labled for reuse on google and fall under Creative Commons, Attribution-Share Alike 3.0 Unported, Attribution-Share Alike 2.0 Generic license.
    https://commons.wikimedia.org/wiki/File:Glendalough,_Ireland.jpg 
    https://commons.wikimedia.org/wiki/File:Bunratty_Castle,_Ireland.jpg
    https://www.flickr.com/photos/infomatique/27738223691
    http://www.cityscouter.com/travelguides/dublin/Howth.html Photo by William Murphy. Attribution-ShareAlike License
    https://commons.wikimedia.org/wiki/File:Ballinskelligs_Bay,_Ring_of_Kerry_(506551)_(27768531740).jpg
    https://pixabay.com/photos/blarney-castle-castle-ireland-550111/
    https://www.flickr.com/photos/giuseppemilo/35511116160
    https://de.wikipedia.org/wiki/Datei:Naval_Jack_of_Ireland.svg
    https://www.flickr.com/photos/photographingtravis/26191229808
    https://creativecommons.org/licenses/by-sa/2.0/
    https://creativecommons.org/licenses/by-sa/3.0/deed.en


-->